/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.idea
**/.idea
**/.vscode/*
.vscode/*
.idea/*
**/.qodo/*
.DS_Store
**/.DS_Store

node_modules
**/node_modules
**/**/node_modules

.env.local
.env
**/.env
**/**/.env

# oci config env
oci.config