# Oracle Cloud Infrastructure (OCI) Configuration File for Docker Container

[DEFAULT]
# OCID of the user calling the API
user=ocid1.user.oc1..aaaaaaaak77vwm3433ibncl5whc3xblqnpwyqakpoie7sxovkc42u7md6dyq

# Fingerprint for the public key that was added to this user
#fingerprint=

# Full path and filename of the private key (PEM format) - container path
key_file=~/.oci/oci_api_key.pem

# OCID of your tenancy
tenancy=ocid1.tenancy.oc1..aaaaaaaaxokk2gewz5xryccusugcdzidxvzooqgtuhswio5lrpk2uqnvsvhq

# Oracle Cloud Infrastructure region
region=us-phoenix-1